.about-list-container {
  margin-top: 20px;
  background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.58)), url(../../../../images/img-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.about-list {
  display: flex;
    
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding: 20px;
}
.about-list-header {
  border-radius: 5px;
  max-width: 33%;
    height: 30vh;
    padding: 2rem;
    /* margin: 2px; */
   color: white;
    /* border: 1px solid #eeeeee; */
    
    transition: 0.3s ease-in;
}
.about-list-header-title{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
}
.about-list-header-desc{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.about-list-header:hover{
  background-color: white;
   color: black;
}
div>svg:hover{
  color: orange;
}
div > svg {
  color: white;
}
.about-list-header > h2 {
  color: white;
}
.about-list-para {
 color: white;
}
.about-list-icon>svg{
  font-size: 30px;
}
.about-list-icon>svg:hover{
  color: orange;
}
@media (max-width:450px) {
  .about-list{
    flex-direction: column;
  }
  .about-list-header {
       max-width: fit-content;
    height: fit-content;
  }
}