.about-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 80%;
    display: flex;
    justify-content: space-around;
}
.about-header{
    display: flex;
    flex-wrap: wrap;
}
.about-header >h3{
    max-width: 80%;
}
.ant-card.ant-card-bordered.about-card {
    margin: 1px;
}


img.about-avatar {
    border-radius: 50%;
    width: 30%;
    height: 100px;
    margin-left: 20px;
    margin-top: 5px;
}
.ant-card-meta-title {
    font-weight: bold;
    font-size: 20px;
}
.ant-card-meta-title:hover{
    color: #ba3833;
    transition: 0.3s ease-in;
}
.ant-card-meta-description{
font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #5a5a5a;
}

.about-side-image{
    max-height: 80%;
}
.about-cards-text{
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    line-height: 55px;
    font-weight: 500;
}

.ant-pagination {
text-align: center;
}

.about-score-block>.score-container {
padding-top: 110px;
}
.teacherscards{
    padding-top: 25px;
}

.btn-join-about-primary{
    background-color: #ff8f07;
    color: black;
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    text-decoration: none !important;
    border-radius: 5px; 
}
.about-join{
    padding-top: 25px;
}
.about-join >h3{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}
.about-join >p{
    color: black;
    text-align: center;
}
.btn-join-about-primary:hover{
    color: white;
}
.btn-join-about{
   
    color: #ba3833;
    border: 1px solid #ba3833 !important;
    text-decoration: none !important;
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 5px;
    padding: 0px 30px;
    text-transform: uppercase;
    border-radius: 5px; 
}
.btn-join-about:hover{
    background-color: #ba3833;
    color: white;
}